[Unit]
Description=A tunnel which turns UDP traffic into encrypted UDP/FakeTCP/ICMP traffic
After=network-online.target

[Service]
Type=simple
Nice=-5
LimitNOFILE=65535
#CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
EnvironmentFile=/etc/udp2raw/udp2raw.conf
ExecStart=/usr/local/bin/udp2raw $RUN_MODE -l $LOCAL_ADDRESS -r $REMOTE_ADDRESS \
  --raw-mode $RAW_MODE --cipher-mode $CIPHER_MODE --auth-mode $AUTH_MODE -a \
  --log-level $LOG_LEVEL --mtu-warn $MTU_WARN --wait-lock $EXTRA_PARAMS

[Install]
WantedBy=multi-user.target
